@import '../../../sass/mixins';

.hamburger{
  //border:1px solid white;
  
  //display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 9rem;
  width: 9rem;
  display:none;
  z-index: 999;
  @include responsive(tablet-land){
    display:block;
  }

  &__container{
    cursor: pointer!important;
    width: 4rem;
    margin: 2.9rem auto;
    z-index: 9999;
  }

  &__container--open{
    cursor: pointer !important;
    & div:nth-child(1){
      transform: translateY(8px);
    -webkit-transform: translateY(8px);

    & span:first-child{
      transform: translateX(5px) rotateZ(45deg);
      -webkit-transform: translateX(5px) rotateZ(45deg);
    }

    & span:last-child{
      transform: translateX(-5px) rotateZ(-45deg);
      -webkit-transform: translateX(-5px) rotateZ(-45deg);
    }
    }


    & div:nth-child(2){

      & span:first-child{
        transform: translateX(-1.5rem);
        -webkit-transform: translateX(-1.5rem);
        opacity: 0;
      }

      & span:last-child{
        transform: translateX(1.5rem);
        -webkit-transform: translateX(1.5rem);
        opacity: 0;
      }
    }


    & div:nth-child(3) {
      transform: translateY(-8px);
      -webkit-transform: translateY(-8px);

      & span:first-child{
        transform: translateX(5px) rotateZ(-45deg);
    -webkit-transform: translateX(5px) rotateZ(-45deg);
      }

      & span:last-child{
        transform: translateX(-5px) rotateZ(45deg);
    -webkit-transform: translateX(-5px) rotateZ(45deg);
      }
      }
    
  }
    


  &__line{
    
    margin: 0 0 7px;
    -webkit-transition: transform 300ms ease;
    transition: transform 300ms ease;
      & span{
      float: left;
      width: 50%;
      background-color: #fff;
      height: 6px;
      display: block;
      -webkit-transition: -webkit-transform 300ms ease,opacity 300ms ease,color 300ms ease;
      transition: transform 300ms ease,opacity 300ms ease,color 300ms ease;
      }


      & span:first-child{
        border-radius: 2px 0 0 2px;
      }

      & span:last-child{
        border-radius: 0 2px 2px 0;
      }
    &::before,
    &::after{
      content: "";
      display: table;
    }

    &::after{
    
        clear: both;
    
    }
  }
}